.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

.product {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  background-color: #f2eff0;
}

.product img {
  max-width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 0.5rem;
}
.btn-delete {
  background-color: #e32992;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
  border-radius: 4px;
}

.btn-delete:hover {
  background-color: #c62828;
}
.form-add {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: auto;
  padding: 1rem;
  background: #f6d2e0;
  border-radius: 8px;
}

.form-add input {
  padding: 0.75rem;
  font-size: 1rem;
}

.form-add button {
  background-color: #e32992;
  color: white;
  border: none;
  padding: 0.75rem;
  cursor: pointer;
  border-radius: 6px;
}
.btn-edit {
  background-color: #e32992;
  color: rgb(255, 255, 255);
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
  border-radius: 4px;
}

.form-edit {
  margin: 2rem auto;
  max-width: 400px;
  padding: 1rem;
  background: #f6d2e0;
  border: 1px solid #f6b7d8;
  border-radius: 8px;
}

.form-edit input {
  display: block;
  margin: 0.5rem 0;
  width: 100%;
  padding: 0.75rem;
}
.dashboard {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.card {
  background: #efd5de;
  border-radius: 8px;
  padding: 1rem 2rem;
  text-align: center;
  min-width: 150px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card h3 {
  margin-bottom: 0.5rem;
  color: #08090a;
}
::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

dialog {
  border: none;
  border-radius: 8px;
  padding: 2rem;
  max-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.form-edit-dialog input {
  display: block;
  margin: 1rem 0;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.form-edit-dialog button {
  margin-right: 1rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  border-radius: 6px;
}
.messages-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
  background: white;
}

.messages-table th,
.messages-table td {
  border: 1px solid #ddd;
  padding: 0.75rem;
  text-align: left;
}

.messages-table th {
  background-color: #f8f8f8;
  color: #333;
}
textarea {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  margin-top: 0.5rem;
  padding: 0.4rem 1rem;
  border-radius: 6px;
  border: none;
  background-color: #e32992;
  color: white;
  cursor: pointer;
}

