.register-container {
  max-width: 500px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.btn {
  background-color: #e91e63;
  color: white;
  padding: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.btn:hover {
  background-color: #c2185b;
}
